{% extends 'base.html' %}

{% block title %}Restaurant{% endblock %}

{% block sidebar %}
    {% url 'restaurant-order' as restaurant_order_url %}
    {% url 'restaurant-meal' as restaurant_meal_url %}
    {% url 'restaurant-report' as restaurant_report_url %}
    {% url 'restaurant-account' as restaurant_account_url %}
    <div class="text-center sidebar__header">
        <img src="{{ request.user.restaurant.logo.url }}" class="img-circle sidebar__header-img" width="70" height="70">
        <br/>
        <br/>
        <h4 class="sidebar__header-user">Hi, {{ request.user.get_full_name }}</h4>
        <h5 class="sidebar__header-restaurant">{{ request.user.restaurant.name }}</h5>
    </div>
    <div class="list-group sidebar__list-group">
        <span class="text-uppercase sidebar__list-group-line">Dashboard</span>
        <a class="list-group-item list-group-item--first {% if request.path ==  restaurant_order_url %}active{% endif %}"
           href="{% url 'restaurant-order' %}">
            Orders
            <span class="badge"></span>
        </a>
        <a class="list-group-item {% if request.path ==  restaurant_meal_url %}active{% endif %}"
           href="{% url 'restaurant-meal' %}">Meals</a>
        <a class="list-group-item {% if request.path ==  restaurant_report_url %}active{% endif %}"
           href="{% url 'restaurant-report' %}">Reports</a>
        <span class="text-uppercase sidebar__list-group-line">Profile</span>
        <a class="list-group-item {% if request.path ==  restaurant_account_url %}active{% endif %}"
           href="{% url 'restaurant-account' %}">Account</a>
    </div>
    <div class="text-uppercase sidebar__footer">
        <a class="btn btn-pink sidebar__footer-btn" href="{% url 'restaurant-sign-out' %}?next={{ request.path }}">Logout</a>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            var now = new Date();
            setInterval(function () {
                $.ajax({
                    url: '/api/restaurant/order/notification/' + now.toISOString() + '/',
                    method: 'GET',
                    success: function (data) {
                        if (data['notification'] === 0) {
                            $('.badge').text('');
                        } else {
                            $('.badge').text(data['notification']);
                        }
                    }
                })
            }, 3000);
        })
    </script>
{% endblock %}
