{% extends 'restaurant/base.html' %}

{% block page %}
    <div class="panel">
        <div class="panel-heading bg-blue">
            <h4 class="panel-title text-center text-white">Orders</h4>
        </div>
        <div class="panel-body">
            <div class="text-right">
                <a href="{% url 'restaurant-add-order' %}" class="btn btn-pink">Add Order</a>
                <br/>
                <br/>
            </div>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr class="bg-gray text-white table-head">
                    <th class="table-head">Id</th>
                    <th class="table-head">Order Details</th>
                    <th class="table-head">Customer</th>
                    <th class="table-head">Driver</th>
                    <th class="table-head">Total</th>
                    <th class="table-head">Status</th>
                    <th class="table-head">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td class="table-cel" scope="row"><a
                                href="{% url 'restaurant-edit-order' order.id %}">{{ order.id }}</a></td>
                        <td class="table-cel"><a href="{% url 'restaurant-edit-order' order.id %}">
                            {% for od in order.order_details.all %}
                                {{ od.meal.name }} {{ od.meal.price }} x {{ od.quantity }} = {{ od.sub_total }}
                            {% endfor %}
                        </a>
                        </td>
                        <td class="table-cel">{{ order.customer }}</td>
                        <td class="table-cel">{{ order.driver }}</td>
                        <td class="table-cel">{{ order.total }}</td>
                        <td class="table-cel">{{ order.get_status_display }}</td>
                        <td>
                            {% if order.status == 1 %}
                                <form method="post">
                                    {% csrf_token %}
                                    <input name="id" value="{{ order.id }}" hidden>
                                    <button class="btn btn-success">Ready</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}